*{
	margin: 0px;
	padding: 0px;
  font-size: 16px;
  line-height: 1.3em;
}

.float-left{
  float: left;
}
.float-right{
  float: right;
}

/*.clrfix{ 
	display: inline-block;
	 }*/
	 
.clrfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}