.main-wrapper{
	width: 100%;
}
.header-wrapper{
}
.footer-wrapper{
	background-color: gray;
	padding: 10px 0px;
	
}
.header-top{
	background-color: #66ccff;
	padding: 15px 0px;
}
.header-bottom{
	background-color: #f5f5f5;
	padding: 10px 0px;
}
.page-wrapper{
	width: 940px;
	margin: 0px auto;
}
.header-top-left{
	background-color: red;
	width:584px;
	float:left;
}
.header-top-right{
	background-color: blue;
	width: 356px;
	float: right;
	padding: 15px 0px 0px 0px
}
.logo-wrapper{
	width: 223px;
	float: left;
}
.search-bar-wrapper{
	width: 360px;
	float: left;
	padding: 25px 0px 25px 0px ;
}

.search-form{
	background-color: #ccffff;
	border:none;
	border-radius: 10px;
	width: 276px;
	padding: 4px 8px;
	font-size: 12px;
}
.search-button{
	background-color: #336666;
	color: white;
	border:none;
	border-radius: 10px;
	padding: 5px 8px;
	font-size: 11px;

}
.search-button:hover{
	opacity: 0.6;
}
.navbar-left{
	float: left;
}
.navbar-right{
	float: right;
}

.sidebar-header{
	background-color: #2fc1da;
	max-width: 100%;
	padding: 12px;
}

.middle-content{
	width: 100%;
}
.tab-header{
	background-color: #f5f5f5;
	width: 100%;
	border-bottom: 3px solid #2fc1da;
	border-radius: 10px 10px 0px 0px;
}
.tab-categories{
	width: 258px;
	float: left;
	text-align: center;
}
.tab-title{
/*	background-color: gray;
	width:114px;
	height: 28px;
	float:left;
	margin-left:10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;*/
	background-image: url(../images/tab-title.png);
	background-repeat: no-repeat;
	width: 114px;
	height: 28px;
	float: left;
	margin-left: 10px;
}
.tab-title:hover{
	background-image: url("../images/tab-title-active.png");
}
.border-right{
	border-right: 1px solid white;
	
}
.border-left{
	border-left: 1px solid left;	
}

.tab-content{
	width: 100%;
}
.tab-content-row{
	width: 100%;
	border-bottom: 1px solid gray;
	padding: 15px 0px;

}

	

.sidebar-list ul li a{
	padding: 12px 5px;
}

.sidebar-list ul li:hover{
	background-color: white;
}
.border-right{
	border-right: 1px solid white;

}

.border-left{
	border-left: 1px solid white;

}

.footer-left{
	background-color: yellow;
	width:550px;
	float:left;
}

.footer-right{
	background-color: darkblue;
	width:360px;
	float:right;
	padding: 10px 0px;
}
