.main-wrapper{
	width: 100%;
	background-color: red;
}
/*page wrapper will be for every layout*/
.page-wrapper{
	/*background-color: yellow;*/
	width: 80%;
	margin: 0px auto;
}
.header-wrapper{
	background-color: #80dfff;
}
.top-header-wrapper{
	/*background-color: #a00be5;*/
}
.top-left-header{
	/*background-color: #eee;*/
	width: 70%;
}
.top-right-header{
	width: 30%;
	text-align: right;
}
.bottom-header-wrapper{
	width: 100%;
	background-color: #e1eaea;
}
.bottom-left-header{
	background-color: transparent;
	width: 70%;
}
.bottom-right-header{
	background-color: transparent;
	width: 30%;
}
.main-container{
	background-color: white;
	height: 520px;
}
.left-sidebar{
	background-color: gray;
	width: 20%;
	height: 480px;
}
.body-wrapper{
	width: 80%;
	height: 480px;
}
.body-left-container{
	background-color:transparent; /* black;*/
	width: 70%;
	height: 480px;
}

.body-right-sidebar{
	background-color: brown;
	width: 30%;
	height: 480px;
}

.footer-wrapper{
	background-color: #666666;
}
.left-footer-wrapper{
	background-color: transparent; /*#449927;*/
}
.right-footer-wrapper{
	background-color: transparent; /* #4c4f07;*/
}

.main-container >.page-wrapper{
	padding: 20px;
}


